# --- Core (Fase 1 & 2) ---
numpy>=1.26.0       # Generación de datos estadísticos
pydantic>=2.5.0     # Validación de Schemas (Schema-on-Write)

# --- API & Web (Fase 2) ---
flask>=3.0.0        # Receptor HTTP
python-dotenv>=1.0.0 # Manejo de variables de entorno

# --- Storage (Fase 2) ---
boto3>=1.34.0       # Cliente para MinIO/S3

# --- Testing & Scripts ---
requests>=2.31.0    # Para scripts de prueba (test_ingestion.py)
pytest>=7.4.0       # Para tests unitarios automatizados
